body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #d0f0ff;
}

.board, .boardglass {
  position: absolute;
  top: 40px;
  left: 80px;
  width: 240px;
  height: 239px;
  border: 1px solid #000;
  cursor: pointer;
}

.board {
  background-color: #fff;

  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.boardglass {
  background-color: transparent;
}

.turn {
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 20px;
  left: 80px;
}

.answers, .controls, .instructions {
  font-size: 12px;
  position: absolute;
  border: 1px solid #000;
  padding: 10px;
  background-color: #fff;
}

.answers {
  top: 40px;
  left: 350px;
  width: 330px;
  height: 219px;
}

.controls {
  top: 298px;
  left: 80px;
  width: 600px;
}

.surround_instructions {
  position: absolute;
  top: 359px;
  left: 80px;
  width: 620px;
}
.instructions {
  position: relative;
}

a.hostedby {
  position: relative; 
  left: 0px;
  top: 20px;
  padding-bottom: 30px;
}

input {
  border: 1px solid #000;
  cursor: pointer;
}

input#puzzleNumber {
  cursor: text;
}

#waiting, #right, #wrong {
  visibility: hidden;
  position: absolute;
  top: 10px;
}

#waiting {
  visibility: visible;
}
#answer {
  visibility: hidden;
}

#rightText {
  font-weight: bold;
  font-size: 16px;  
  color: #009900;
}
#wrongText {
  font-weight: bold;
  font-size: 16px;  
  color: #990000;
}

img.crosshair {
  display: none;
  position: absolute;
  width: 13px;
  height: 13px;
}

img.piece {
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}